<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/stile.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
    
	
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>
<head>
	<title> Cart </title>
</head>

<body>
	<h1>Cart</h1>
	<h2> No photos in the cart. Click <a th:href="@{/getGallery}"> here</a> 
	to go back to the gallery</h2>
</body>
</html>