<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/stile.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>
    
<body>
<h1>Customers who made a request</h1>
<div>
<span th:text = "${message}">Message</span>


<ul>
	<li th:each = "customer : ${customers}">
		<div class = "customers">

		<a th:href = "@{'/customer' + '/' + ${customer.id}}" 
		th:text = "${customer.nome}">PhotographerName</a>
		
		<a th:href = "@{'customer' + '/' + ${customer.id}}" 
		th:text = "${customer.cognome}">PhotographerSurname</a>
		</div>
	</li>
</ul>
</div>

		<div class = linkHomepage>
			<a th:href="@{/}"
			th:text="Homepage">Homepage</a>
		</div>
</body>
</html>