<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/fotografo.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
<body>
<form th:action = "@{/album}" method = "POST" th:object = "${album}">

	<h2>Select the photographer of the current album</h2>
	<ul>
		<li th:each = "photographer : ${photographers}">
			<div class = "photographers">
	
			<a th:href = "@{'/selectedPhotographer' + '/' + ${photographer.id}}" 
			th:text = "${photographer.nome}">PhotographerName</a>
			
			<a th:href = "@{'/selectedPhotographer' + '/' + ${photographer.id}}" 
			th:text = "${photographer.cognome}">CognomeFotografo</a>
			</div>
		</li>		
	</ul>
	<table>

	</table>
</form>
</body>
</html>